
.mainMenu{
    opacity: .5;
}

.mainMenu:hover {
    transition: all 0.25s ease-in-out;
    color: #DAAD6D;
    transform: scale(1.1); 
    opacity: 1;
}

#content{
    background: #FEFDFB;
    min-height: 100vh;
    height: 100%;
}

.technicalInfo{
    color: #4C6E8D;
}

#headOne{
  font-family: 'Overpass Mono', monospace;
  color: rgba(39,39,39, 0.75);
}

#headTwo{
  font-family: 'Questrial', sans-serif;
  font-weight: 200;
  color: #659DBD;

}

#headL{
    font-size: 120%;
    font-weight: 250;
}

#ResumeActivate{
    color: #4C6E8D; 
}

#aboutHead{
    color: #659DBD;
    text-align: center;
}

body{
    background-color: #659DBD;
}

h1,h2,h3{
    font-family: 'Quicksand', sans-serif;
}



h4,h5,h6{
    font-family: 'Noto Sans', sans-serif;
}

p{
    font-family: 'Domine', serif;

}

